.side_cart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease-in-out;
  position: fixed;
  top: 0;
  right: 0;
  height: 70%;
  width: 30%;
  background-color: white;
  transform: translateX(0); // Add this line
  box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.2);

  z-index: 2;

  &.closed {
    transform: translateX(100%);
  }

  &_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3%;

    &_title {
      font-size: 1.5rem;
      font-weight: 600;
    }
  }

  &_content {
    &_table {
      width: 100%;
      border-collapse: collapse;

      &_image {
        width: 105px;
        height: 105px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 10px;
      }

      &_name {
        vertical-align: middle;
      }

      &_quantity {
        vertical-align: middle;
      }

      &_price {
        vertical-align: middle;
      }

      &_delete_btn {
        vertical-align: middle;
      }
    }
  }

  &_footer {
    &_total {
      padding: 3%;
      display: flex;
      justify-content: space-between;

      &_text {
        font-size: 1rem;
        font-weight: 400;
      }

      &_price {
        font-size: 1rem;
        font-weight: 600;
        color: rgba(184, 142, 47, 1);
      }
    }

    &_buttons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 3%;
      padding: 0 3%;

      button {
        padding: 0.4rem 2rem;
        border: 1px solid black;

        border-radius: 50px;

        font-size: 1rem;
        font-weight: 500;
        cursor: pointer;
      }
    }
  }
}
