.signin {
  display: flex;
  flex-direction: column;
  width: 100vw;

  a {
    text-decoration: none;
    color: black;
  }

  form input {
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid rgba(159, 159, 159, 1);
  }

  button {
    border-radius: 15px;
    border: 1px solid #000;
    padding: 17px 78px;

    cursor: pointer;
  }

  &_login {
    padding: 0 1rem;

    form {
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
    }

    &_form_btn {
      display: flex;
      justify-content: space-between;
    }
  }

  &_register {
    padding: 0 1rem;

    form {
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
    }

    &_form_btn {
      width: min-content;
    }
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1920px) {
  .signin {
    flex-direction: row;

    &_login {
      width: 50%;
      padding: 50px 100px 50px 230px;
    }

    &_register {
      width: 50%;
      padding: 50px 230px 50px 100px;
    }
  }
}
